# <div align="center"> Carbon Impact - Data Analysis </div>

<div align="center"> ROULET Maria Paula | ROUX Dorian - Bachelor 4</div>

---

### Libraries

In [1]:
import numpy as np
import random
import pandas as pd
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

### Read Data Files

In [5]:
Use_App = pd.read_csv("Data/time_apps3m.csv", delimiter=',', index_col=0)
Use_App.sample(5)

,Employee ID,Full Date,Year,Month,Day,Weekday,Time,App,Action Type,Time Spent,App Carbon Impact,Daily Consumption,Level of Carbon Consumption
192747,7,2021-02-01 17:27:00,2021,2,1,Monday,17:27:00,No Carbon App Used,No Carbon Action,4,0.0,64.648,Medium-Low Carbon Consumption
280844,10,2021-01-30 13:38:00,2021,1,30,Saturday,13:38:00,No Computer Access,Day Off,279,0.0,35.902,Medium-Low Carbon Consumption
34711,2,2021-01-09 17:56:00,2021,1,9,Saturday,17:56:00,No Computer Access,Day Off,537,0.0,50.960,Medium-Low Carbon Consumption
303215,11,2021-01-17 16:28:00,2021,1,17,Sunday,16:28:00,No Computer Access,Day Off,449,0.0,105.300,Medium-Low Carbon Consumption
25769,1,2021-02-21 10:20:00,2021,2,21,Sunday,10:20:00,No Computer Access,Day Off,81,0.0,69.270,Medium-High Carbon Consumption

In [6]:
Use_App.groupby(['Level of Carbon Consumption'])['App Carbon Impact'].sum().reset_index()

      Level of Carbon Consumption  App Carbon Impact
0         High Carbon Consumption          14616.889
1  Medium-High Carbon Consumption          19298.686
2   Medium-Low Carbon Consumption          31974.382